body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 20px;
  position: relative;
}

#home-container {
  margin-top: 25px;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: cornflowerblue;
}

#clock-wrapper {
  width: 220px;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-50%, 0);
  text-align: center;
  color: white;
}

#back-button {
  position: absolute;
  left: 3px;
  top: 3px;
  padding: 3px 5px;
  background-color: white;
  color: #08428f;
  border: #08428f;
  border-radius: 5px;
}

#new-button {
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 3px 5px;
  background-color: white;
  color: #08428f;
  border: #08428f;
  border-radius: 5px;
}

#alarm-list-wrapper {
  list-style: none;
  padding: 0;
}

.alarm-list {
  padding: 5px 15px;
  background-color: white;
  border-top: 1px solid #08428f;
  font-size: medium;
}

.alarm-list:last-child {
  border-bottom: 1px solid #08428f;
}
